{% extends "base.html" %}

{% block title %}Nuestra Historia{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/historia.css') }}">
{% endblock %}

{% block content %}
<div class="main-container">
    <header class="header">
        <div class="header-left">
            <a href="{{ url_for('inicio') }}">
                <img src="{{ url_for('static', filename='imagen/inicio/logo.webp') }}" alt="Logo Angello" class="logo-header">
            </a>
        </div>
        <nav class="nav-menu">
            <a href="{{ url_for('inicio') }}">Inicio</a>
            <a href="{{ url_for('carta') }}">Nuestra Carta</a>
            <a href="{{ url_for('historia') }}" class="active">Nuestra Historia</a>
            <a href="{{ url_for('delivery') }}">Delivery</a>
        </nav>
        <div class="header-right">
            <a href="{{ url_for('reserva') }}" class="btn-reserva">Reservaciones</a>
        </div>
    </header>

    <div class="historia-container">
        <h1 class="historia-title">RESTAURANTE ANGELLO</h1>
        
        <div class="historia-content">
            <div class="historia-text-box">
                <p>Tenemos mas de 15 años de trayectoria ofeciendo la mejor comida combinando dos culturas, brindando pizzas artesanales, pastas frescas y el platillo más popular, el pollo a la leña</p>
            </div>
           <div class="historia-images">
                <div class="image-box">
                    <img src="{{ url_for('static', filename='imagen/reserva/pizza.png') }}" alt="Pizza en horno de leña">
                </div>
                <div class="image-box">
                    <img src="{{ url_for('static', filename='imagen/reserva/pollo.png') }}" alt="Pollo a la leña">
                </div>
            </div>
        </div>
    </div>

    <div class="social-info">
        <div class="social-text-container">
            <p class="social-text">Informes y pedidos</p>
        </div>
        <div class="social-icons-container">
            <a href="#"><img src="{{ url_for('static', filename='icon/redes/whatsaap.png') }}" alt="WhatsApp"></a>
            <a href="#"><img src="{{ url_for('static', filename='icon/redes/facebook.png') }}" alt="Facebook"></a>
        </div>
    </div>

</div>
{% endblock %}


